In [39]:
import numpy as np
import pandas as pd

In [98]:
data=pd.read_csv(r"C:\Users\Asus\Downloads\CN ML\CCPP gradient decsent\ccpp_x_y_train.csv")

In [99]:
df=data.copy()

In [100]:
df.describe()

               # T            V           AP           RH           EP
count  7176.000000  7176.000000  7176.000000  7176.000000  7176.000000
mean     19.629712    54.288154  1013.263032    73.275818   454.431293
std       7.475256    12.751468     5.964863    14.625093    17.134571
min       1.810000    25.360000   992.890000    25.560000   420.260000
25%      13.470000    41.740000  1009.010000    63.202500   439.737500
50%      20.315000    52.050000  1012.910000    74.895000   451.740000
75%      25.720000    66.540000  1017.302500    84.925000   468.667500
max      35.770000    81.560000  1033.300000   100.160000   495.760000

In [101]:
yf=df[" EP"]
df.drop(" EP",axis=1,inplace=True)
features=df.columns
print(features)
b=4
for a in features:
    df[b]=df[a]*df[a]
    b+=1
c=8
for a in features:
    df[c]=df[a]*df[a]*df[a]
    c+=1
feat=df.columns
for i in feat:
    df[i]=(df[i]-df[i].mean())/df[i].std()

Index(['# T', ' V', ' AP', ' RH'], dtype='object')

In [84]:
da=np.asarray(df)
x=da[:,:]
da1=np.asarray(yf)
y=da1.reshape(-1,1)
print(x.shape)
y.shape

(7176, 12)

(7176, 1)

In [85]:
x=np.asmatrix(x)
y=np.asmatrix(y)
c=np.ones((x.shape[0],1))
x=np.concatenate((x,c),axis=1)
print(x.shape)
y.shape

(7176, 13)

(7176, 1)

In [86]:
def cost(x,y,m):
    total=0
    for i in range(x.shape[0]):
        total=total+(1/x.shape[0])*((y[i]-((x[i]*(np.transpose(m)))))[0][0]**2)
    return total
def step_grad(x,y,lr,m):
    ms=np.zeros(x.shape[1])
    ms=np.asmatrix(ms)
    for i in range(x.shape[0]):
        ms=ms+(-2/(x.shape[0]))*(y[i]-(x[i]*(np.transpose(m))))[0][0]*x[i]
    m=m-(lr*ms)
    return m
def gd(x,y,lr,nit):
    m=np.zeros(x.shape[1])
    m=np.asmatrix(m)
    for i in range(nit):
        m=step_grad(x,y,lr,m)
        if i%100 == 0:
            print(" Cost at ",i, "iteration : ", cost(x, y, m))
    return m

In [87]:
lr=0.1
n=500
m=gd(x,y,lr,n)
cost(x,y,m)

 Cost at  0 iteration :  [[132260.31810799]]
 Cost at  100 iteration :  [[20.22438795]]
 Cost at  200 iteration :  [[18.82932508]]
 Cost at  300 iteration :  [[18.68285788]]
 Cost at  400 iteration :  [[18.65844657]]

matrix([[18.64979869]])

In [103]:
data1=pd.read_csv(r"C:\Users\Asus\Downloads\CN ML\CCPP gradient decsent\ccpp_x_test.csv")
df2=data1.copy()
df2.columns={'# T', ' V', ' AP', ' RH'}
print(df2)
features=df2.columns
b=4
for a in features:
    df2[b]=df2[a]*df2[a]
    b+=1
c=8
for a in features:
    df2[c]=df2[a]*df2[a]*df2[a]
    c+=1
feat=df2.columns
for i in feat:
    df2[i]=(df2[i]-df2[i].mean())/df2[i].std()

x1=np.asarray(df2)
print(x1.shape)
c=np.ones((x1.shape[0],1))
x1=np.concatenate((x1,c),axis=1)
x1=np.asmatrix(x1)
Yp=(x1*(np.transpose(m)))
print(cost(x1,Yp,m))
Yp.shape

        # T      V       AP     RH
0     12.07  38.25  1012.67  81.66
1     26.91  74.99  1005.64  78.98
2     20.58  39.53  1005.68  62.09
3     16.78  37.20  1011.97  68.94
4     22.46  58.49  1011.50  70.54
...     ...    ...      ...    ...
2386  29.49  69.71  1009.34  56.35
2387  27.69  65.34  1014.31  46.59
2388  24.32  66.25  1009.09  91.89
2389  23.49  42.80  1013.96  65.31
2390  21.76  60.27  1018.96  85.06

[2391 rows x 4 columns]
(2391, 12)
[[1.07165253e-27]]

(2391, 1)

In [89]:
np.savetxt("ccpp.csv",Yp,fmt="%1.5f")